PORT=3004

SMTP_USER=<smtp-user@gmail.com>
GOOGLE_OAUTH_CLIENT_ID=<google-oauth-client-id>
GOOGLE_OAUTH_CLIENT_SECRET=<google-oauth-client-secret>
GOOGLE_OAUTH_REFRESH_TOKEN=<google-oauth-refresh-token>